{% extends 'AdminInterface/base.html' %}


{% block content %} 





<div class="p-4 sm:ml-64">
    <div class="p-4  h-screen rounded-lg dark:border-gray-700 ">

        <div class="flex mb-1">
            <div class="w-full bg-gray-500 h-12"></div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/4 bg-gray-500 h-12"></div>
            <div class="w-1/2 bg-gray-600 h-12"></div>
            <div class="w-1/4 bg-gray-700 h-12"></div>
          </div>

          <form hx-trigger = 'change' hx-target = '.course-block' hx-post = '/lmsadmin/manage_courses/'>
            {% csrf_token %}
            <select name="semester" style="width: 100%;" id="">
              <option value="1" selected>1st Semester</option>
              <option value="2">2nd Semester</option>
            </select>


          </form>
         
        <div class="course-block">

        </div>
         
    </div>
  </div>
{% endblock content %}