{% extends 'AdminInterface/base.html' %}


{% block content %} 

{% load adminfilters %}



<div class="p-4 sm:ml-64">
    <div class="p-4  h-screen rounded-lg dark:border-gray-700 ">

        <div class="flex mb-1">
            <div class="w-full bg-gray-500 h-12"></div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/4 bg-gray-500 h-12"></div>
            <div class="w-1/2 bg-gray-600 h-12"></div>
            <div class="w-1/4 bg-gray-700 h-12"></div>
          </div>

        <div>
            <div class="flex justify-between py-3">
                <p>Course Name: {{course.course_name}} </p> 
                <p class="order-last"> Sched Code: {{course.course_schedule}}</p>
            </div>
            <div class="flex justify-between py-3 mb-5">
                <p>Professor: {{course.faculty}} </p> 
                <p class="order-last"> Program: {{course.program}}</p>
            </div>
        

        </div> 
<div class='overflow-x-auto'>
    
         <table class="table-auto border-collapse w-full overflow-x-auto text-left">
            <thead>
                <tr>
                    <th class="border-b dark:border-slate-600">Student Number</th>
                    <th class="border-b dark:border-slate-600">Firstname</th>
                    <th class="border-b dark:border-slate-600">Lastname</th>
                    <th class="border-b dark:border-slate-600">Prelim</th>
                    <th class="border-b dark:border-slate-600">Midterm</th>
                    <th class="border-b dark:border-slate-600">Finals</th>

           
                </tr>
            </thead>
            <tbody>
        
               
                   {% for student in course.students.all %}
                   <tr class="hover:ring-4 h-20">
                        <td>{{student.student_number}}</td>
                        <td>{{student.account.first_name}}</td>

                        <td>{{student.account.last_name}}</td>
                        
                        {% for grade in student|get_grade:course %}
                            <td>{{grade.prelim}}</td>
                            <td>{{grade.midterm}}</td>
                            <td>{{grade.finals}}</td>

                        {% endfor %}
                    </tr>
                   {% endfor %}
              

          
            </tbody>
         </table>
</div>


         
    </div>
  </div>
{% endblock content %}